.nav-list {
    .nav-item {
        display: flex;
        align-items: center;
        padding: 12px 15px;
        cursor: pointer;

        .icon {
            margin-right: 15px;
            min-width: 25px;
            font-size: 2rem;
        }

        .title {
            font-size: 1.5rem;
            opacity: 0.9;
            font-weight: $font-medium;
        }

        &:hover {
            background-color: rgba($primary-color, 0.05);
            .title {
                opacity: 1;
            }
        }
    }

    .nav-item.active {
        background-color: rgba($primary-color, 0.01);
        border-radius: 8px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: $primary-color;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .title {
            color: $primary-color;
            font-weight: $font-bold;
            opacity: 1;
        }
        .icon {
            color: $primary-color;
        }
    }
}
