@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaini+Purva&family=Rouge+Script&display=swap');

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .option-icon + .option-icon {
        margin-top: 10px;
    }

    svg {
        font-size: 2.5rem;
        color: rgba($black, 0.7);
    }
}

.focus-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.focus-clock {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 226px;
    border-radius: 50%;
    // background: conic-gradient($white 0deg 90deg, $primary-color 90deg 360deg);

    .focus-clock-center {
        width: 190px;
        height: 190px;
        background-color: $secondary-color;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        padding: 15px;

        .clock-icon > svg {
            font-size: 3rem;
        }

        .title {
            font-size: 2rem;
        }

        .focus-timer {
            font-size: 4.6rem;
            font-family: 'Jaini Purva', system-ui;
        }
    }
}

.focus-setting {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .focus-setting-icon + .focus-setting-icon {
        margin-left: 20px;
    }

    .pau_play {
        svg {
            font-size: 4.6rem;
        }
    }
}

.focus-setting-icon {
    font-size: 2rem;
    cursor: pointer;
}

.choose-select {
    .label {
        font-family: 'Jaini Purva', system-ui;
        font-weight: $font-light;
        font-size: 3rem;
    }

    label {
        font-size: 1.8rem;
    }
}
