.wrapper {
    width: 100%;
    height: 100%;
    background-color: $white;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
}

.user-infor {
}

.img-box {
    width: 300px;
    max-height: 400px;
    display: flex;
    align-items: stretch;
}

.content {
    padding: 20px 30px;
    flex: 1;
}

.header {
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
}

.user-infor {
    display: flex;
}

.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: blue 2px solid;
}

.name-user {
    font-size: 1.4rem;
    font-weight: $font-bold;
}

.created-at {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: $font-medium;
    color: rgba(0, 0, 0, 0.6);
}

.like {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.like-icon {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    color: #e9253b;
    cursor: pointer;
}

.post {
    h3 {
        font-size: 1.4rem;
        font-weight: $font-medium;
        color: $black;
    }
}

.post-content {
    p {
        font-size: 1.2rem;
        font-weight: $font-regular;
    }
}

.more {
    font-size: 1.2rem;
    font-weight: $font-semi-bold;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
