.wrapper {
    justify-content: space-between;
    position: relative;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px 8px 8px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: $white;
    &:hover {
        background-color: #fdf6f3;
        border-color: rgba($black, 0.4);
    }

    &:hover .hover-cover {
        display: flex;
    }
}

div.second_style {
    padding: 8px 12px 8px 8px;

    .song-img {
        width: 70px;
        height: 80px;
    }

    .status {
        font-size: 0.8rem;
        border: 1px solid rgba($black, 0.1);
        background-color: #fdf6f3;
        border-radius: 32px;
        display: inline;
        padding: 3px 5px;
    }
}

.shadow {
    box-shadow: 3px 3px 2px 0px rgba($black, 0.25);
}

.wrapper + .wrapper {
    margin-top: 5px;
}

.like {
    svg {
        color: rgb(219, 82, 82);
    }

    svg.liked {
        color: rgba($black, 0.8);
    }
}

.active {
    background-color: #fdf6f3;
    border-color: rgba($black, 0.4);
}

.song-img {
    position: relative;
    width: 37px;
    height: 43px;
    border-radius: 5px;
    overflow: hidden;
}

.song-info {
    flex: 1;
    .song-name {
        font-size: 1.4rem;
        font-weight: $font-semi-bold;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .song-arti {
        font-size: 1.2rem;
        color: rgba($black, 0.7);
    }
}

.hover-cover {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0.4);

    svg {
        color: $white;
    }
}

.active {
    .hover-cover {
        display: flex !important;
    }
}
