.card {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 19px;
    margin-bottom: 19px;
    color: $primary-color-2;
}

.card p {
    font-size: 32px;
    font-weight: bold;
}
