/* src/components/Loading/Loading.module.scss */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.small {
    margin: 0;
    .spinner {
        width: 20px;
        height: 20px;
    }
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
