/* src/components/Loading/Loading.module.scss */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.small {
    margin: 0;
    .spinner {
        width: 20px;
        height: 20px;
    }
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//music wave
.music-waves {
    height: 30px;
    margin-left: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    span {
        position: absolute;
        width: 4px;
        height: 4px;
        bottom: 0;
        background: #000;
        animation: waves 0.5s infinite ease;

        &:nth-child(1) {
            left: 0;
            animation-delay: 0.3s;
            background: #ff8c00;
        }

        &:nth-child(2) {
            left: 6px; // nhỏ hơn 7px
            animation-delay: 0.4s;
            background: #ffff00;
        }

        &:nth-child(3) {
            left: 12px; // nhỏ hơn 14px
            animation-delay: 0.6s;
            background: #26d53a;
        }

        &:nth-child(4) {
            left: 18px; // nhỏ hơn 21px
            animation-delay: 0.8s;
            background: #26e6a3;
        }

        &:nth-child(5) {
            left: 24px; // nhỏ hơn 28px
            animation-delay: 1s;
            background: #1da8e2;
        }
    }
}

@keyframes waves {
    0% {
        height: 5px;
    }

    30% {
        height: 15px;
    }

    60% {
        height: 20px;
    }

    80% {
        height: 15px;
    }

    100% {
        height: 5px;
    }
}

//mussic wave  2
.music-waves-2 {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        display: block;
        position: relative;
        background: #000;
        height: 100%;
        width: 0.5rem;
        border-radius: 0.5rem;
        margin: 0 0.15rem;
        animation: waves-2 1.2s linear infinite;
    }

    span:nth-child(1) {
        animation-delay: 0s;
        background: #ff8c00;
    }

    span:nth-child(2) {
        animation-delay: 0.3s;
        background: #ffff00;
    }

    span:nth-child(3) {
        animation-delay: 0.6s;
        background: #26d53a;
    }

    span:nth-child(4) {
        animation-delay: 0.9s;
        background: #26e6a3;
    }

    span:nth-child(5) {
        animation-delay: 0.6s;
        background: #1da8e2;
    }

    span:nth-child(6) {
        animation-delay: 0.3s;
        background: #5916ba;
    }

    span:nth-child(7) {
        animation-delay: 0s;
        background: #d418d9;
    }
}

@keyframes waves-2 {
    50% {
        height: 25%;
    }
    100% {
        height: 100%;
    }
}

//Bounce-loading
.bounce-loading {
    display: flex;
    justify-content: center;

    div {
        width: 1rem;
        height: 1rem;
        margin: 0 0.5rem;
        background: #8385aa;
        border-radius: 50%;
        animation: bounce-loader 0.6s infinite alternate;
    }

    div:nth-child(2) {
        animation-delay: 0.15s;
    }

    div:nth-child(3) {
        animation-delay: 0.3s;
    }

    div:last-child {
        animation-delay: 0.45s;
    }
}

@keyframes bounce-loader {
    to {
        opacity: 0.1;
        transform: translateY(-1rem);
    }
}
