.wrapper {
    position: fixed;
    width: $width-navigationSidebar;
    bottom: 0;
    background-color: $white;
    box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.03);
    top: 0;
    left: 0;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    text-align: center;
    margin-bottom: 24px;
    width: 80px;
    margin: 10px auto;
    h2 {
        font-size: 18px;
        margin-top: 8px;
        span {
            color: #007aff;
        }
    }
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;

    .icon {
        margin-right: 15px;
        min-width: 25px;
        font-size: 2rem;
    }

    .title {
        font-size: 1.5rem;
        opacity: 0.9;
        font-weight: $font-medium;
    }

    &:hover {
        background-color: rgba($primary-color, 0.05);
        .title {
            // color: $primary-color;
            opacity: 1;
        }
    }
}

.nav-item.active {
    background-color: rgba($primary-color, 0.01);
    border-radius: 8px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: $primary-color;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .title {
        color: $primary-color;
        font-weight: $font-bold;
        opacity: 1;
    }
    .icon {
        color: $primary-color;
    }
}

.badge {
    background-color: $primary-color;
    color: $white;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 12px;
    margin-left: auto;
}

.sign-in-box {
    background-color: $primary-color;
    opacity: 90%;
    color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: auto;

    p {
        font-size: 1.2rem;
        font-weight: $font-medium;
        margin-bottom: 10px;
    }
}

.sign-in-btn {
    border: 1px solid $white;
    color: $white;

    &:hover {
        background-color: $white;
        color: $primary-color;
    }
}

.logout {
    margin-top: auto;
    button {
        width: 100%;
        justify-content: center;
        font-weight: 600;
        color: #e64420;
        border-color: #e64420;
    }
}
