.wrapper {
    border-radius: 8px;
}

.playlist-header {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background: linear-gradient(to bottom, rgba(29, 185, 84, 0.2), transparent);
    border-radius: $border-radius;

    .playlist-avatar {
        width: 230px;
        height: 230px;
        border-radius: 8px;
        overflow: hidden;
    }

    .playlist-detail {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .type {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 500;
        color: $text-secondary;
    }

    .name {
        font-size: $font-size-5xl;
        margin: 10px 0;
        font-weight: $font-bold;
    }

    .sub {
        font-size: $font-size-base;
        line-height: 1.5;
    }
}

.playlist-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;

    .play-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $primary-color-2;
        opacity: 0.8;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        svg {
            color: $white;
        }
    }

    .action {
        display: flex;
        flex-direction: row;
    }

    .add-btn,
    .more-action {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $primary-background-color;
        }
    }

    .add-btn {
        svg {
            color: $secondary-icon;
        }
        margin-right: 10px;
    }

    .more-action {
    }

    .play-btn,
    .add-btn {
        font-size: 24px;
    }
}

.playlist-list {
    // background-color: #000;
    color: #ccc;
    padding: 24px;
    border-radius: 16px;
    font-size: 14px;

    .header {
        display: grid;
        grid-template-columns: 2fr 1.5fr 1fr 1fr 30px;
        gap: 16px;
        border-bottom: 1px solid #333;
        padding-bottom: 8px;
        margin-bottom: 16px;
        font-weight: 600;
        color: $text-color;
        padding: 0 10px;
    }
}
