.wrapper {
    flex-direction: column;
    height: 100%;
    right: 0;
    width: $width-right-slidebar;
    background-color: $white;
    border-radius: $border-radius;
    padding: 17.5px 8px 0 8px;
    background-color: $white;
}

.option-bar {
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.tab-group {
    background-color: #fdf6f3;
    border-radius: 20px;
    border: 1px solid rgba($black, 0.4);
    overflow: hidden;
    .tab {
        font-size: 1.4rem;
        line-height: 30px;
        padding: 0 10px;
        cursor: pointer;
        font-weight: $font-regular;
    }

    .tab-active {
        background-color: #e3d6d0;
        border-radius: 20px;
        font-weight: $font-medium;
    }
}

.icon-btn {
    width: 30px;
    height: 30px;
    background-color: #fdf6f3;
    border-radius: 50%;
    border: 1px solid rgba($black, 0.4);
    cursor: pointer;

    &:hover {
        background-color: #e3d6d0;
    }
}

.playlist_wrapper {
    overflow-y: auto;
    padding-right: 5px;
}
