.floating-music-player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: $secondary-color;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition:
        width 0.3s ease-in-out,
        height 0.3s ease-in-out,
        background-color 0.3s;
}

.no-song {
    color: white;
}

.floating-music-player:hover {
    width: 200px;
    height: 50px;
    background-color: $secondary-color;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.initial-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 0;
    transition: opacity 0.3s;
}

.floating-music-player:hover .initial-icon {
    opacity: 0;
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    padding: 0 10px;
    opacity: 0;
    transform: translateX(50px);
    transition:
        opacity 0.3s 0.3s,
        transform 0.3s;
}

.floating-music-player:hover .control-panel {
    opacity: 1;
    transform: translateX(0);
}

.toggle-btn {
    background-color: $primary-color;
    color: white;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition:
        background-color 0.2s,
        transform 0.2s;
}

.toggle-btn:hover {
    background-color: #ff5e84;
    transform: scale(1.05);
}

.toggle-btn:active {
    transform: scale(0.95);
}

.track-title {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    width: 120px;
}

/* Icon đĩa nhạc */
.fa-compact-disc {
    color: $primary-color;
    animation: spin 3s linear infinite;
}

.fa-compact-disc.paused {
    animation: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
