.wrapper {
    height: $header-height;
}

.container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container.style-2 {
    box-shadow: none;
}

.nav-back {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 0 !important;

    svg {
        font-size: 24px;
    }

    span {
        font-size: 1.7rem;
        font-weight: $font-regular;
    }
}

.action-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    svg {
        font-size: 20px;
        fill: $black;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}

.bell-icon {
    margin-left: 1rem;
}

.your-post-btn {
    font-size: 1.2rem;
    font-weight: $font-medium;
}

.user-avatar {
    width: 40px;
    height: 40px;
}
