.wrapper {
    position: fixed;
    top: calc($header-height + 15px);
    right: 0;
    bottom: 0;
    width: $width-right-slidebar;
    background-color: $white;
    padding: 17.5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container {
    padding: 0;
}

.header {
    font-size: 1.5rem;
    font-weight: $font-semi-bold;
}

.event-container {
    height: 338px;
    border: 1px solid rgba($primary-color, 0.7);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.img-box {
    height: 179px;
}

.content-box-event {
    flex: 1;
    background-color: rgba($primary-color, 0.05);
    padding: 10px 17px;

    .title {
        font-size: 1.6rem;
        font-weight: $font-medium;
        font-family: $font-base;
    }

    .sub {
        font-size: 1.2rem;
        font-weight: $font-medium;
        opacity: 0.6;
    }
}

.icon_date {
    svg {
        font-size: 24px;
    }
}

.text-data {
    .day {
        font-size: 1.2rem;
        color: $black;
        opacity: 0.8;
    }

    .time {
        font-size: 1rem;
        opacity: 0.63;
        color: $black;
    }
}

.btn-view {
    font-size: 1rem;
}

.calendar_container {
    width: 100%;
    margin-top: 38px;
}
