.wrapper {
    min-height: 1000px;
    // background-color: #ccc;
}

.slider-wrapper {
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.story {
    overflow: hidden;
}

.post_wrapper {
    width: 100%;
}
