.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: calc($header-height);
    flex-direction: column;
    left: 0;
    bottom: $media-control-bar;
    width: $width-navigationSidebar;
    background-color: $white;
    background-color: $white;
    padding: 20px;
    z-index: 1;
}

.header {
    padding: 0 28px;
    margin-top: 15px;
    margin-bottom: 25px;

    .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: end;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .title {
        font-size: 3.5rem;
        font-weight: $font-bold;
        margin-left: 10px;
    }

    .slogan {
        margin-top: 3px;
        font-size: 2.2rem;
        font-weight: $font-medium;
    }
}

.playlist {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.playlist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .icon {
        margin-right: 10px;
        min-width: 20px;
    }

    span {
        flex: 1;
        padding: 8px 0;
        white-space: nowrap;
        overflow: hidden;
        -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-image: linear-gradient(to right, black 80%, transparent 100%);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
    }

    &:hover {
        color: $primary-color;
    }

    .add-btn {
        font-size: 14px;
        border-radius: 5px;
        outline: none;
        padding: 10px 15px !important;
    }
}
