.wrapper {
    display: flex;
    flex-direction: column;
    top: calc($header-height);
    flex-direction: column;
    height: 100%;
    left: 0;
    width: $width-navigationSidebar;
    z-index: 1;
}

.sidebar-menu {
    background-color: $white;
    padding: 16px;
    border-radius: $border-radius;
}

.header {
    padding: 0 28px;
    margin-top: 15px;
    margin-bottom: 25px;

    .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: end;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .title {
        font-size: 3.5rem;
        font-weight: $font-bold;
        margin-left: 10px;
    }

    .slogan {
        margin-top: 3px;
        font-size: 2.2rem;
        font-weight: $font-medium;
    }
}

.playlist {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: $border-radius;
    margin-top: 8px;
    padding: 16px;

    .add-btn {
        font-size: 14px;
        outline: none;
        padding: 10px 15px !important;
        transition:
            background-color 0.3s ease,
            transform 0.2s ease,
            box-shadow 0.3s ease;

        background-color: $primary-color;
        border: none;
        border-radius: 50px;
        color: white;
    }

    .add-btn:hover {
        background-color: $primary-color-2;
        color: white;
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(29, 185, 84, 0.6);
    }
}

.playlist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .icon {
        margin-right: 10px;
        min-width: 20px;
    }

    span {
        flex: 1;
        padding: 8px 0;
        white-space: nowrap;
        overflow: hidden;
        -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-image: linear-gradient(to right, black 80%, transparent 100%);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
    }

    &:hover {
        color: $primary-color;
    }
}
