.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

h2.title {
    font-size: 3.2rem;
    font-weight: $font-bold;
    color: #111827;
}

span.sub {
    margin-top: 10px;
    color: #6b7280;
    font-size: 1.6rem;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
}

.card {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 19px;
    margin-bottom: 19px;
    color: $primary-color-2;
}

.card p {
    font-size: 32px;
    font-weight: bold;
}
