$primary: #4f46e5;

.wrapper {
    max-width: 45%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 12px 14px;
    border: 1px solid #e0e0e0;
    border-radius: 18px;
    line-height: 1;
    font-size: 14px;
}

.wrapper {
    margin-top: 15px;
}

.received {
    border-bottom-left-radius: 4px;
    align-self: flex-start;
    animation: slideInLeft 0.3s ease-out;
}

.sent {
    border-bottom-right-radius: 4px;
    align-self: flex-end;
    background-color: $primary;
    color: $white;
    animation: slideIn 0.3s ease-out;
}

.timestamp {
    font-size: 1.12rem;
    color: #999;
    margin-top: 5px;
}

@keyframes slideIn {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeSlideIn {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
