.wrapper {
    width: 384px;
    background-color: rgb(24, 24, 24);
    padding: 24px;
}

.title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 16px;
}

input.input {
    width: 100%;
    color: white;
    background-color: rgb(18, 18, 18);
    border: 1px solid #374151;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px;
    margin-bottom: 16px;
}

input.room-name {
}

.create-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .label {
        color: white;
    }

    .checkbox {
        width: 16px;
        height: 16px;
        accent-color: #1db954;
    }
}

.action-btn {
    display: flex;
    justify-content: right;

    .btn {
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        line-height: 1.4;
    }

    button.cancel {
        color: rgb(179, 179, 179);
    }

    .create {
        background-color: rgb(29, 185, 84);

        &:hover {
            background-color: rgb(22, 163, 74);
        }
    }
}
