button {
    border: none;
    background-color: transparent;
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}
