@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$primary-color: #e54615;
$primary-color-2: #1db954;
$primary-color-light: rgba(229, 70, 21, 0.05);
$secondary-color: #282828;
$white: #ffffff;
$text-color: #333;
$black: #000000;
$secondary-icon: #65686c;
$color-button-primary: rgba(240, 242, 245);
$secondary-background-hover: #f1f0f0;
$link-text-hover: #c273ed;

//text colors
$text-primary: #181818;
$text-secondary: #b3b3b3;
$text-tertiary: #a1a1a1;

// Fonts
$font-base: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$thirty-font: 'Inter', sans-serif;
$font-size-base: 16px;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// font weights
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

//width components
$width-navigationSidebar: 290px;
$header-height: 60px;
$width-right-slidebar: 361px;
$width-scrollbar: 8px;
$media-control-bar: 90px;

//admin scss
$slider-width: 290px;
$admin-header-height: 61px;
$background-color-1: #2d3748;
$header-height: 61px;
$post-detail-width: 800px;
$musice-search-width: 500px;

//border
$primary-border: 1px solid #e5e7eb;
$border-color: #404040;

//pading
$content-padding-top: 15px;
