// ⬆️ BẮT BUỘC: @use phải trên cùng
@use 'mixins';
@use 'reset';

// ✅ Sau đó mới tới import font và CSS thuần
@import 'normalize.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

// ✅ Cuối cùng là các CSS rule
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $thirty-font;
    // font-family: 'Comic Sans MS', 'Segoe UI', cursive, sans-serif;
    // background-color: #fce4ec; /* Nền hồng pastel */
    font-weight: 400;
    color: #333;
    background-color: #f4f4f4;
    font-size: 1.6rem;
}

hr.line {
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: $black;
    opacity: 17%;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
}

.scrollbar {
    overflow-y: hidden;
    scrollbar-gutter: stable;

    &:hover {
        overflow-y: auto;
    }
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

/* Thanh cuộn (Webkit) */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}
