.wrapper {
    min-width: 200px;
    padding: 10px 0;
    background-color: $popup-menu-color;
    border-radius: $border-radius;
    box-shadow: $popup-menu-box-shadow;
    z-index: 999;

    li {
        padding: 5px 20px 5px 14px;
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;

        &:hover {
            color: $primary-color;
            background-color: $secondary-hover;
        }
    }
}
